/** based on lodash.com/_css/main.css */

html, body, h1, h2, p {
    margin: 0;
    padding: 0;
}

html {
    background: #d3d3d3;
    height: 100%;
    color: #222;
}

body {
    background: #fff;
    width: 60em;
    margin: 0 auto;
    -webkit-box-shadow: 0 0 2.5em #5d656c;
    -moz-box-shadow: 0 0 2.5em #5d656c;
    box-shadow: 0 0 2.5em #5d656c;
    font: 1em/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif;
    min-height: 100%;
}

code {
    font-family: Consolas, Courier New, monospace;
}

hgroup span {
    color: #ddd;
}

h1,h2,h3,h4,p,ul,ol {
    font-weight: normal;
    padding: 0 40px;
    word-wrap: break-word;
}

hgroup h1 {
    display: inline;
}

hgroup h2 {
    font-size: 1.38em;
}

h2,h3,h4 {
    margin: 0 0 .5em;
}

h2 {
    margin-top: .5em;
}

h4 {
    font-weight: bold;
}

a {
    color: #222;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
}

a:hover,a:focus {
    border-color: #222;
}

abbr[title] {
    border-bottom: 1px dotted #ddd;
    cursor: help;
}

hr {
    display: none;
}

p {
    margin-bottom: 1em;
}

ul,ol {
    margin-left: 2em;
}

ul ul,ol ol {
    margin-left: 1em;
    padding: 0;
}

footer {
    display: block;
    background: #eee;
    padding: 0.5em;
    text-align: center;
    margin-top: 1.5em;
}

.multiline-items li {
    padding-bottom: 1em;
}

.github {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

/* FORMS */
form {
    margin: 1.5em 40px 0;
    width: auto;
}

form table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

form tr {
    padding: 10px 0;
    border-bottom: 1px solid black;
}

form th {
    font-weight: normal;
    width: 15%;
}

form th:before,
form th:after {
    content: " ";
    display: table;
}

form th:after {
    clear: both;
}

form th label {
    font-family: Consolas,Courier New,monospace;
    float: right;
    margin: 0 5px;
}

form td p {
    margin: 0 0 10px 0;
    padding: 0;
}

form td input[type="text"] {
    width: 100%;
}

@media(max-width:959px) {
    body {
        border: 0;
        margin: 0;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
        width: auto;
    }

    h1,h2,h3,h4,p,ul,ol {
        padding: 0 10px;
    }
}

@viewport {
    width:device-width;
}
